*/Library/*
*/Logs/*
New Unity Project/Library/ArtifactDB
New Unity Project/Library/CurrentLayout-default.dwlt
New Unity Project/Library/SourceAssetDB
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe13.log
New Unity Project/Logs/shadercompiler-UnityShaderCompiler.exe8.log
